<!DOCTYPE html>
<html ng-app="firstForm">
	<head>
		<title>USER REGISTRATION AND CONTACT FORM</title>

		<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js">
		</script>
		
		<script type="text/javascript" src="app.js"></script>
		
		<script type="text/javascript" src="MainController.js"></script>
		
		<link rel="stylesheet" href="form.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
<body>
		<!--<form name="myform" ng-model="myform" ng-controller="MainController">
			<div class = "name" >
				<label>First Name:</label><input type="text" name = "fname" ng-model="firstname" required/>
				<h1>Is text valid : {{firstname}}</h1>
								
			</div>
			</form>
		-->
		<label><h1>USER REGISTRATION AND CONTACT FORM</h1></label>
		<form name="registerForm" class="myForm" ng-controller="MainController" method="Get" action="information.html" novalidate = "novalidate">
  		<table class="formTable" name="tab1">
  		<tr>
  			<td><label>First Name:</label></td>
  				<td>
  					<input type="text" name="userFirstName" ng-model="firstName" required ng-pattern="/^[a-zA-Z]+$/"/>
  				</td>
  				<td>
  					<p class ="help-block"ng-show="registerForm.userFirstName.$error.required">Your Firstname is required.</p>
  					<p class ="help-block"ng-show="registerForm.userFirstName.$error.pattern">Only Alphabets Please.</p>
   				</td>		
  		</tr>
		
		 
		<tr>
			<td><label>Last Name:</label></td>
  			<td>
  				<input type="text" name="userLastName" ng-model="lastName" required ng-pattern="/^[a-zA-Z]+$/" />
  			</td>
  			<td>
  				<p class ="help-block"ng-show="registerForm.userLastName.$error.required">Your Lastname is required.</p>
  				<p class ="help-block"ng-show="registerForm.userLastName.$error.pattern">Only Alphabets Please.</p>
  			</td>
		</tr>

  		<tr>
  			<td><label>Gender:</label></td>
  			
  				<td>
  					<input type="radio" name="gender" value="male"> Male 
  				</td>
  				<td>
  					<input type="radio" name="gender" value="female"> Female 
  				</td>
  				<td>
  					<input type="radio" name="gender" value="other"> Other
  				</td>
  			
  		</tr>

  		<tr>
  			<td>
  				<label>Date Of Birth:</label>
  			</td>
	  	    	<td>
	  	    		<input type="date" name="userDate" ng-model="date" placeholder="yyyy-MM-dd" required max="2016-01-01" />
	  	    	</td>
  	    		<td>
  	    		<p class ="help-block"ng-show="registerForm.userDate.$error.required">Your Birthdate is required.</p>
  	    		<p class ="help-block"ng-show="registerForm.userDate.$error.max">Your Birthdate is invalid.</p>
  	    		</td>
  	   		</td>
  	   	</tr>

  	   <tr>
  			<td><label>Phone Number:</label></td>
  			<td>
  				<input type="text" name="userPhoneNumber" ng-model="phoneNumber" required ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/"/>
  			</td>
  			<td>
  				<p class ="help-block"ng-show="registerForm.userPhoneNumber.$error.required">Your Phone is required</p>
  				<p class ="help-block"ng-show="registerForm.userPhoneNumber.$error.pattern">Valid Phone Only</p>
  			</td>
  		</tr>

  		<tr>
  			<td>
  				<label>Email Address:</label>
  			</td>

  			<td>
  				<input type="email" name="userEmail" ng-model="email" required ng-pattern="/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/"/>
  			</td>
  			<td>
  				<p class ="help-block"ng-show="registerForm.userEmail.$error.required">Your Email is required.</p>
  				<p class ="help-block"ng-show="registerForm.userEmail.$error.pattern">Email is invalid</p>
  			</td>
  		</tr>

  		<tr>
  			<td>
  				<label>Street Address 1:</label>
  			</td>
  			<td>
  				<input type="text" name="userStreet1" ng-model="street1" required ng-pattern="/([^a-zA-Z0-9\s])+/"/>
  			</td>

  			<td>
  				<p class ="help-block"ng-show="registerForm.userStreet1.$error.required">Your Street Address is required.</p>
  				<!--<p class ="help-block"ng-show="registerForm.userStreet1.$error.pattern">Only Alphanumeric</p>-->
  			</td>  					
  		</tr>

  		<tr>
  			<td>
  				<label>Street Address 2:</label>
  			</td>
  			<td>
  				<input type="text" name="userStreet2" ng-model="street2" required ng-pattern="/([^a-zA-Z0-9\s])+/"/>
  			</td>

  			<td>
  				<p class ="help-block"ng-show="registerForm.userStreet2.$error.required">Your Street Address is required.</p>
  				<!--<p class ="help-block"ng-show="registerForm.userStreet2.$error.pattern">Only Alphanumeric</p>-->
  			</td>  					
  		</tr>
  		
  		<tr>
  			<td>
  				<label>State:</label>
  			</td>

  			<td>
  				 <select ng-model="dropDownState" required>
  				 	<option ng-repeat ="state in states" value ="state">{</option>
   				 </select>
  			</td>

  			<td>
				<p class ="help-block"ng-show="registerForm.dropDownState.$error.required">Your State Address is required.</p>
  				<p class ="help-block"ng-show="registerForm.dropDownState.$error.pattern">Only Alphabets</p>
  			</td>
  		</tr>

  		<tr>
  			<td>
  				<label>City:</label>
  			</td>

  			<td>
  				<input type="text" name="userCity" ng-model="city" required ng-pattern="/^[a-zA-Z]+$/"/>
  			</td>
  			<td>
  				<p class ="help-block"ng-show="registerForm.userCity.$error.required">Your City is required.</p>
  				<p class ="help-block"ng-show="registerForm.userCity.$error.pattern">Only Alphabets</p>
  			</td>
  		</tr>
  		
  		<tr>
  			<td>
  				<label>Zipcode:</label>
  			</td>

  			<td>
  				<input type="text" name="userZipcode" ng-model="zipcode" required ng-pattern="/^\d{5}$/"/>
  			</td>
  		
  			<td>
  				<p class ="help-block"ng-show="registerForm.userZipcode.$error.required">Your Zipcode is required.</p>
  				<p class ="help-block"ng-show="registerForm.userZipcode.$error.pattern">Only 5 digits</p>
  			</td>
  		</tr>

  		<tr>
  			<td>
  			<td ng-show="zipcode && firstName && lastName && date && phoneNumber && city && email">
  				<input type = "submit" name = "Submit" value="SUBMIT"/>
  			</td>
   		</tr>
  	</table>
	</form>

</body>				
</html>

